<html>
    <head>
        <title>Find the shortest substring</title>
    </head>
    <body>
        <p>The length of the shortest substring containing all search characters is: <b>{{ length }}</b>.</p>
        <p>The match would be here: <br />{{ stream | wordwrap(100) | raw  }}.</p>
    </body>
</html>